<div class="ilc_answers answers ilClearFloat row" id="ilMatchingQuestionContainer_{QUESTION_ID}" data-type="ilMatchingQuestion" data-id="{QUESTION_ID}">
	<input type="hidden" class="js_matching_type" value="{MATCHING_TYPE}" />
	<input type="hidden" class="answer" name="{QUESTION_ID}" value="{ANSWER}"/>
	<div id="targetArea" class="col-md-8">
		<!-- BEGIN droparea -->
		<div class="row droparea js_definition" id="definition_{ID_DROPAREA}" data-id="{ID_DROPAREA}" data-type="definition">
			<div class="ilMatchingQuestionDefinition col-md-6">
				<!-- BEGIN definition_text -->
				<div class="ilc_qanswer_Answer">{DEFINITION}</div>
				<!-- END definition_text -->
				<!-- BEGIN definition_picture -->
				<div class="ilc_qanswer_Answer thumbnail">
					<img class="ilc_qimg_QuestionImage" border="0" src="{IMAGE}" alt="{DEFINITION}" title="{DEFINITION}" />
					<div class="ilc_qanswer_Answer">{DEFINITION}</div>
				</div>
				<!-- END definition_picture -->
			</div>
			<div class="ilMatchingQuestionTerm col-md-6"></div>
		</div>
		<!-- END droparea -->
	</div>
	<div id="sourceArea" class="col-md-4">
		<!-- BEGIN draggable -->
		<div class="draggable row js_term" id="term_{ID_DRAGGABLE}" data-id="{ID_DRAGGABLE}" data-type="term">
			<!-- BEGIN term_text -->
			<div class="ilc_qanswer_Answer">{TERM}</div>
			<!-- END term_text -->
			<!-- BEGIN term_picture -->
			<div class="ilc_qanswer_Answer thumbnail">
				<img class="ilc_qimg_QuestionImage" border="0" src="{IMAGE}" alt="{TERM}" title="{TERM}" />
				<div class="ilc_qanswer_Answer">{TERM}</div>
			</div>
			<!-- END term_picture -->
		</div>
		<!-- END draggable -->
	</div>
</div>