<div class="imagemap_outer">
	<div class="imagemap_editor">
		<!-- BEGIN generic -->
		<input type="hidden" id="answer" name="{POST_NAME}" value="{VALUE}" />
		<input type="hidden" id="max_answers" value="{MAX_ANSWERS}" />
		<img border="0" src="{IMAGE_URL}" />
		<!-- END generic -->
		<svg viewBox="0 0 100 100" preserveAspectRatio="none">
			<!-- BEGIN answer_option -->
			{OPTION_SHAPE}
			<!-- END answer_option -->
		</svg>
	</div>
	<!-- BEGIN feedback -->
	<div>
		<span class="feedback">{FEEDBACK}</span>
	</div>
	<!-- END feedback -->
</div>