<div class="js_multiple_choice">
	<!-- BEGIN selection_limit_hint -->
	<p class="js_limit">{SELECTION_LIMIT_HINT}</p>
	<!-- END selection_limit_hint -->
	<input type="hidden" class="js_max_answers" value="{MAX_ANSWERS}" />
	<!-- BEGIN answer_row -->
	<div class="answer_option">
		<div>
			<input type="{TYPE}" name="{POST_NAME}" value="{ANSWER_ID}" id="answer_{ANSWER_ID}" class="js_multiple_choice_answer" {CHECKED} />
		</div>
		<div>
			<label for="answer_{ANSWER_ID}" class="answer_text">
				<!-- BEGIN answer_image -->
			    <img src="{ANSWER_IMAGE_URL}" alt="{ANSWER_IMAGE_ALT}" title="{ANSWER_IMAGE_TITLE}" {THUMB_SIZE} />
				<!-- END answer_image -->
				<div>{ANSWER_TEXT}</div>
			</label>
		</div>
	</div>
	<!-- BEGIN feedback -->
	<div>
		<span class="feedback">{FEEDBACK}</span>
	</div>
	<!-- END feedback -->
	<!-- END answer_row -->
</div>